@media(){}
#welcom-section{
  height:100vh;
}
#navbar{
  position:fixed;
  top:0px;
}
body{
  background-color:#444;
  Color:lightgray;
}
img{
  Position:absolute;
  right:0px;
  top:0px;
  padding:3px;
  background-color:hsl(95,100%,50%);
}
