@media(){}
#welcom-section{
  height:100vh;
}
#navbar{
  position:fixed;
  top:0px;
}
body{
  background-color:#444;
  Color:lightgray;
}
img{
  Position:absolute;
  right:0px;
  bottom:0px;
  padding:3px;
  background-color:rgba(0,0,0,0);
  height:40vh;
}
#img1{animation:img1 3s infinite linear;}
#img2{animation:img2 3s infinite linear;}
#img3{animation:img3 3s infinite linear;}
@keyframes img1{
  0%{opacity:0.1;}
  16.65%{opacity:1;}
  33.33%{opacity:0.1;}
  100%{opacity:0;}
}
@keyframes img2{
  0%{opacity:0;}
  33.33%{opacity:0.1;}
  50%{opacity:1;}
  66.66%{opacity:0.1;}
  100%{opacity:0;}
}
@keyframes img3{
  0%{opacity:0;}
  66.66%{opacity:0.1;}
  83.35%{opacity:1;}
  100%{opacity:0.1;}
}
