:root {
  --deg: 0deg;
}
@media (orientation:landscape) {
  iframe {
    width: 45vmin !important;
    height: 20vmin !important;
  }
  body{background-image:url("../images/s21-l.jpeg") !important;}
}
body {
  text-align: center;
  font-family: rosemary, monospace;
  color: lightGray;
  background:#222 url("../images/s21-p.jpeg") 0/cover fixed no-repeat;
}
#header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
}
#nav-bar {
}
a {
  text-decoration: none;
}
a:link {
  color: orange;
}
a:visited {
  color: yellow;
}
button {
  background: linear-gradient(var(--deg), #b1f, #19f);
  color: yellow;
  border-radius: 30% 8% 17% 8%;
  padding: 4px;
}
img {
  width: 100px;
  position: relative;
  bottom: 28px;
  left: 45px;
}
figcaption {
  position: absolute;
  left: -10000px;
  opacity: 0;
}
main {
  margin: 40vh 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
  bordor-radius: 10%;
}
#submit {
  border-radius: 8% 50% 50% 8%;
  background-color: #91f;
  color: #1cf;
}
iframe {
  width: 94vw;
  height: 55vw;
  border-radius: 5%;
  padding: 3px;
  background: linear-gradient(var(--deg), #f70, #fd0);
  animation: video 1.2s linear infinite;
}
@keyframes video {
  12.5% {--deg: 45deg;}
  25% {--deg: 90deg;}
  37.5% {--deg: 135deg;}
  50% {--deg: 180deg;}
  62.5% {--deg: 225deg;}
  75% {--deg: 270deg;}
  87.5% {--deg: 315deg;}
  100% {--deg: 360deg;}
}
