:root {
}
body {
  font-family: rosemary, monospace;
  background:#222 url("../images/map-portrait.jpg") fixed no-repeat;
  background-size: cover;
  color: lightgray;
  text-align: center;
}
@media only screen and (orientation:landscape){
  body{background-image:url("../images/map-landscape.jpg");}
}
header {
}
main {
margin:auto;
padding:0;
}
form {
  background: repeating-linear-gradient(
    -45deg,
    rgba(10, 190, 250, 1) 0px,
    rgba(0, 0, 0, 0.7) 15vmin,
    rgba(0, 0, 0, 0.7) 15vmin,
    rgba(210, 0, 250, 1) 35vmin
  );
  border-radius: 8%;
  padding: 10vh 3vw 10vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
fieldset,section {
  border: doted yellow 1vmin;
  border-radius: 10%;
  text-align: left;
  width:80vw;
}
