:root {
}
body {
  font-family: rosemary, monospace;
  background:#222 url("../images/map-portrait.jpg") fixed no-repeat;
  background-size: cover;
  color: lightgray;
  text-align: center;
}
@media only screen and (orientation:landscape){
  body{background-image:url("../images/map-landscape");}
}
header {
}
main {
  background: linear-gradient(
    -45deg,
    rgba(10, 190, 250, 1),
    rgba(0, 0, 0, 0.7) 20%,
    rgba(210, 0, 250, 1)
  );
  border-radius: 8%;
  padding: 10vh 3vw 10vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
form {
}
fieldset {
  border: doted yellow 2px;
  border-radius: 10%;
  text-align: left;
}
section {
  text-align: left;
}
